<div class="mfp-dialog c-shareDialog">
  <div class="c-shareDialog_title">
    Share with:
  </div>

  <ul class="c-shareDialog_list">
    <li class="c-shareDialog_item">
      <a class="c-shareDialog_link js-share" href="#" data-share-title="{{shareTitle}}" data-share-url="{{shareUrl}}" data-type="fb">
        <svg class="c-icon c-icon-facebook c-shareDialog_icon">
          <use xlink:href="{{svgSprite}}#facebook"></use>
        </svg>
      </a>
    </li>
    <li class="c-shareDialog_item">
      <a class="c-shareDialog_link js-share" href="#" data-share-title="{{shareTitle}}" data-share-url="{{shareUrl}}" data-type="tw">
        <svg class="c-icon c-icon-twitter c-shareDialog_icon">
          <use xlink:href="{{svgSprite}}#twitter"></use>
        </svg>
      </a>
    </li>

    <li class="c-shareDialog_item">
      <a class="c-shareDialog_link" href="mailto:?body={{shareUrl}}&subject={{shareTitle}}">
        <svg class="c-icon c-icon-mail c-shareDialog_icon">
          <use xlink:href="{{svgSprite}}#mail"></use>
        </svg>
      </a>
    </li>
  </ul>
</div>