<section class="s-featureSmall section u-padd-top-none">

  <div class="container u-pull-btm-1">
    {{render '@c-sectiontitle' c-sectionTitle merge=true}}
  </div>

  <section class="s-featureSmall_bg section section-small section-spaceless section-dark section-bg section-bg-posHalfTop section-border u-padd-top u-padd-top-double@md u-padd-btm-double {{class}}" {{#if pathBgImage}}style="background-image:url({{imagePath pathBgImage}})"{{/if}}>
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-3 col-lg-3">
            <div class="s-featureSmall_logo">

              <img class="u-img-full" src="{{imagePath pathLogo}}" alt="">
            </div> 
        </div>
          <div class="col-sm-12 col-md-9 col-lg-9">
              <div class="row">
                {{#each teasers}}
                <div class="col-md-3 col-sm-3 col-lg-3">
                  {{render '@c-teasersmall' c-teaserSmall merge=true}}
                </div>
                {{/each}}

              </div>
          </div>
      </div>
    </div>
  </section>
</section>
