<div class="c-teasersGallery js-teasersGallery {{class}}">
  {{#if c-sectionTitleShow}}
    {{render '@c-sectiontitle' c-sectionTitle merge=true}}
  {{/if}}

  <div class="row c-teasersGallery_wrapperItems">
    
    <div class="js-teasersGallery-contentBigItem">
      <div class="c-teasersGallery_item js-teasersGallery_item col-md-8 col-lg-6 u-push-btm@sm">
          {{render '@c-heroimg--gallery' c-heroImgGallery merge=true}}
      </div>
    </div>

    <div class="col-md-4 col-lg-6">
      <div class="row js-teasersGallery-contentItems">
        {{#each teasers}}
          {{!--<div class="c-teasersGallery_item js-teasersGallery_item col-sm-6 col-md-12 col-lg-6 u-push-btm@sm {{#ifIndex @index 3}}u-d-none@sm u-d-blk@lg{{/ifIndex}} {{#ifIndex @index 4}}u-d-none@sm u-d-blk@lg{{/ifIndex}}">   
          {{render '@c-heroimg--gallery' c-heroImgGalleryXs merge=true}}
          </div>--}}

          <div class="c-teasersGallery_item js-teasersGallery_item col-sm-6 col-md-12 col-lg-6 {{class-itemGallery}}">
            {{render '@c-heroimg--gallery' c-heroImgGalleryXs merge=true}}
          </div>
        {{/each}}
      </div>
    </div>
  </div>

  <div class="row c-teasersGallery-slickCarousel js-teasersGallery-slickCarousel"></div>
</div>
