<div class="c-filterTopic js-filterTopic {{class}} {{class-layout}}">
  <button class="c-filterTopic_btn js-filterTopic_btn">
    <span class="c-filterTopic_title js-filterTopic_title">
      {{labelDefault}}
    </span>
    {{render '@c-icon' c-iconFilter}}
  </button>

  <div class="c-filterTopic_listWrap js-filterTopic_listWrap">
    <ul class="c-filterTopic_list c-filterTopic_list-show js-filterTopic_list {{classFilterListStyle}}">

      <li class="c-filterTopic_listItem js-filterTopic_listItem is-active">{{labelDefault}}<span class="c-filterTopic_listItem_Checkmark">{{render '@c-icon' c-iconCheckmark}}</span></li>
      <li class="c-filterTopic_listItem js-filterTopic_listItem">{{labelDefault}}<span class="c-filterTopic_listItem_Checkmark">{{render '@c-icon' c-iconCheckmark}}</span></li>
      <li class="c-filterTopic_listItem js-filterTopic_listItem">{{labelDefault}}<span class="c-filterTopic_listItem_Checkmark">{{render '@c-icon' c-iconCheckmark}}</span></li>
      <li class="c-filterTopic_listItem js-filterTopic_listItem">{{labelDefault}}<span class="c-filterTopic_listItem_Checkmark">{{render '@c-icon' c-iconCheckmark}}</span></li>
    </ul>
  </div>
</div>