{{!-- 
Questo componente condivide lo stesso css con c-carousel 
ma si differenzia nel javascript.
Per questo solo le classi js-... cambiano
--}}

<div class="c-carousel js-carouselWithDetail {{class}}">
	<div class="c-carousel_detailsWrap">
		<div class="c-carousel_details js-carouselWithDetail_details">
			{{#each items}}
				<div class="c-carousel_detail js-carouselWithDetail_detail">
					{{render '@c-jumbotron' c-jumbotron merge=true}}
				</div>
			{{/each}}
		</div>
	</div>

	<div class="c-carousel_btnMoreDetails js-carousel_btnMoreDetails">
		{{render '@c-morebtn' c-moreBtnDetails merge=true}}
	</div>

	<div class="c-carousel_itemsWrap">
		<div class="c-carousel_items js-carouselWithDetail_items" data-slick='{{data-slick}}'>
			{{#each items}}
				<div class="c-carousel_item js-carouselWithDetail_item">
					<div class="c-carousel_itemWrap">
						{{#if c-heroImg-gallery}}{{render '@c-heroimg--gallery' c-heroImg-gallery merge=true}}{{/if}}
						{{#if c-heroImg-poster}}{{render '@c-heroimg--hero-img-poster' c-heroImg-poster merge=true}}{{/if}}
					</div>
				</div>
			{{/each}}			
		</div>

		<div class="c-carousel_gradientCover c-carousel_gradientCover-left"></div>
  		<div class="c-carousel_gradientCover c-carousel_gradientCover-right"></div>
	</div>
</div>


