<section class="section {{class}} {{class-layout}}">
	<div class="container {{class-container}}">
		{{#if sectionTitle}}
			{{render '@c-sectiontitle--secondary-label-light' c-sectionTitle merge=true}}
		{{/if}}

	    {{render '@c-slider--teaserstreaming' c-sliderTeaserStreaming merge=true}}
	</div>
</section>