<section class="section {{class}} {{class-layout}}">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-8 col-lg-8">
				{{render '@c-heroimg' c-heroImgBig}}
			</div>
			<div class="col-sm-12 col-md-4 col-lg-4">
				<div class="row">
					<div class="col-sm-12 col-md-12 col-lg-12 u-push-top-half u-push-top-none@md u-push-btm u-push-btm-eigth@md u-push-btm-half@lg u-padd-top@sm u-padd-top-none@md u-padd-btm-eigth@md u-padd-btm-quarter@lg">
						{{render '@c-heroimg' c-heroImgRight1}}
					</div>
					<div class="col-sm-12 col-md-12 col-lg-12 u-push-top-eigth@md u-pull-top-half u-pull-top-eigth@lg u-padd-top@sm u-padd-top-eigth@md u-padd-top-eigth@lg">
						{{render '@c-heroimg' c-heroImgRight2}}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>