<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{ _target.title }} - RSI Front-end</title>
		<base href="/">
		<meta class="breakpoints-helper js-breakpoints">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
		<link rel="manifest" href="/manifest.json">
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#a2001e">
		<link media="all" rel="stylesheet" href="{{themeCss}}">
		<meta name="apple-mobile-web-app-title" content="RSI">
		<meta name="application-name" content="RSI">
		<meta name="theme-color" content="#a2001e">
	</head>
<body>
<!-- Component code -->
{{{ yield }}}
<!-- End component code -->
<script src="{{ path '/js/main.js' }}"></script>
</body>
</html>
{{resetTheme}}