<section class="section {{class}} {{class-layout}}">
	<div class="container">
		<div class="row">
			<div class="col-md-7 u-push-btm u-push-btm-none@md">
				{{render '@c-heroimg' c-heroImg merge=true}}
			</div>

			<div class="col-md-5">
			{{#if teaserListVert-status}}
				{{render '@c-teaserlistvert--status' c-teaserListVert-status merge=true}}
			{{else if c-teaserListVertLight}}
				{{render '@c-teaserlistvert--light' c-teaserListVertLight merge=true}}
			{{else}}
				{{render '@c-teaserlistvert' c-teaserListVert merge=true}}
			{{/if}}
				
			</div>
		</div>
	</div>
</section>