<div href="#" class="c-jumbotron {{class}}">
	<div class="c-jumbotron_wrap">
		<div class="c-jumbotron_imgWrap">
			<div class="c-jumbotron_imgAfter"></div>
			<picture class="c-jumbotron_img">
				<source srcset="{{imageDesktop}}" media="(min-width: 26em)">
				<img src="{{imageSmartphone}}" alt="">
			</picture>
			<div class="c-jumbotron_imgBefore"></div>
		</div>

		<div class="c-jumbotron_content">
			<div class="c-jumbotron_info">
				<h2 class="c-jumbotron_title">{{title}}</h2>
				<p class="c-jumbotron_description">{{description}}</p>
				<span class="c-jumbotron_additionalText">{{info}}</span>
			</div>
			
			<div class="c-jumbotron_interactions">
				<div class="c-jumbotron_interactionsEl">
					{{render '@c-button' c-button merge=true}}
				</div>

				<div class="c-jumbotron_interactionsEl">
					<div class="c-jumbotron_interactionsElChild">
						{{render '@c-button--circle-icon-color-rsi' c-buttonIconPlay merge=true}}
					</div>
					
					<div class="c-jumbotron_interactionsElChild">
						{{render '@c-countdownsupersimple' countdownSuperSimple merge=true}}
					</div>
				</div>
			</div>
		</div>

		<div class="c-jumbotron_scheduling c-jumbotron_scheduling-{{schedulingVector}}">
			<div class="c-jumbotron_schedulingText">
				{{#each schedulingTex-nLine}}
					<span class="c-jumbotron_schedulingText_line">{{text}}</span>
				{{/each}}
			</div>
		</div>
	</div>
</div>