<section class="section {{class}} {{class-layout}}">
	<div class="container u-pull-btm-1">
		{{render '@c-sectiontitle' c-sectionTitle merge=true}}
	</div>
  
	<div class="section {{internal-section}}">
		{{render '@c-carousel--teaser-small' c-carouselTeaserSmall merge=true}}
	</div>
</section>