<div class="c-heroImg {{class}} {{class-layout}}">
  <div class="c-heroImg_formatImg">

    {{#if imgLink}}
      <a href="{{href}}" id="{{id}}" class="c-heroImg_imgWrap {{classTitleLink}}" {{#if modalTitle}}data-title="{{modalTitle}}"{{/if}} {{#if modalDescription}}data-description="{{modalDescription}}"{{/if}}>
    {{else}}
      <div class="c-heroImg_imgWrap">
    {{/if}}

      <picture class="c-heroImg_img">
        <source srcset="{{imageDesktop}}" media="(min-width: 26em)">
        <img src="{{imageSmartphone}}" alt="">
      </picture>

    {{#if imgLink}}
      </a>
    {{else}}
      </div>
    {{/if}}

    {{#if badgeShow}}
      {{render '@c-imgbadge' c-imgBadge merge=true}}
    {{/if}}

    {{#if c-vectorLogo}}
      <div class="c-heroImg_vectorLogo">
        {{render '@c-vectorlogo' c-vectorLogo merge=true}}
      </div>
    {{/if}}

    {{#if nouvoShow}}
      {{render '@c-nouvobadge'}}
    {{/if}}

    {{#if playIconAbsolute}}
      <div class="c-heroImg_play">
        {{#if noLinks}}<span{{else}}<a href="{{href}}"{{/if}} class="{{classTitleLink}}" {{#if modalTitle}}data-title="{{modalTitle}}"{{/if}} {{#if modalDescription}}data-description="{{modalDescription}}"{{/if}}>
          {{render '@c-playicon' c-playIcon merge=true}}
        {{#if noLinks}}</span{{else}}</a{{/if}}>
      </div>
    {{/if}}

    <div class="c-heroImg_content {{contentClass}}">      

      <div class="c-heroImg_contentInner">
        {{#if labelShow}}
          <p class="c-heroImg_label">
            {{render '@c-label' c-label merge=true}}
          </p>
        {{/if}}

        {{#if noLinks}}<span{{else}}<a href="{{href}}"{{/if}} class="c-heroImg_titleLink {{classTitleLink}}" {{#if modalTitle}}data-title="{{modalTitle}}"{{/if}} {{#if modalDescription}}data-description="{{modalDescription}}"{{/if}}>
          {{#if titleShow}}
            <h1 class="c-heroImg_title">
              {{title}}            
            </h1>          
          {{/if}}

          {{#if descriptionShow}}
            <p class="c-heroImg_desc">
              {{description}}
            </p>
          {{/if}}
        {{#if noLinks}}</span{{else}}</a{{/if}}>

        {{#if c-schedulingSimple}}
          <div class="c-heroImg_scheduling">
            {{render '@c-schedulingsimple' c-schedulingSimple merge=true}}
          </div>
        {{/if}}
        
        {{#if secondaryInfo}}
          <div class="c-heroImg_secondaryInfo">
            {{#if noLinks}}<span{{else}}<a href="{{href}}"{{/if}} class="c-heroImg_secondaryInfo_text">{{secondaryInfo}}{{#if noLinks}}</span{{else}}</a{{/if}}>
          </div>
        {{/if}}  
      </div>
    </div>

    {{#if shareShow}}
      {{#if noLinks}}<span{{else}}<a href="{{href}}"{{/if}} class="c-heroImg_share js-popup-share" data-share-title="{{shareTitle}}" data-share-url="{{shareUrl}}">
        {{render '@c-icon' c-iconShare merge=true}}

        <span class="c-heroImg_shareLabel {{shareLabelClass}}">
          Share
        </span>
      {{#if noLinks}}</span{{else}}</a{{/if}}>

    {{/if}}

    {{#if c-imgActions}}
      {{render '@c-imgactions' c-imgActions merge=true}}
    {{/if}}

  </div>

    {{#if c-sportResult}}
      {{#if noLinks}}<span{{else}}<a href="{{href}}"{{/if}} class="c-heroImg_sportResult">
        {{render '@c-sportresult' c-sportResult merge=true}}
      </a>
    {{/if}}

    {{#if c-sportResult-race}}
      {{#if noLinks}}<span{{else}}<a href="{{href}}"{{/if}} class="c-heroImg_sportResult">
        {{render '@c-sportresult--race' c-sportResult-race merge=true}}
      {{#if noLinks}}</span{{else}}</a{{/if}}>
    {{/if}}

    {{#if c-sportResult-set}}
      {{#if noLinks}}<span{{else}}<a href="{{href}}"{{/if}} class="c-heroImg_sportResult">
        {{render '@c-sportresult--set' c-sportResult-set merge=true}}
      {{#if noLinks}}</span{{else}}</a{{/if}}>
    {{/if}}

  {{#if bottomContenShow}}
    <div class="c-heroImg_btmContent row">

        {{#if liveTickerShow}}
          <div class="c-heroImg_ticker {{liveTickerGrid}}">
            {{render '@c-livetickeralert' c-liveTickerAlert merge=true}}
          </div>
        {{/if}}

        {{#if relatedContentShow}}
          <div class="c-heroImg_related {{gridRelated}}">
                <div class="c-heroImg_relatedWrap">
                  {{render '@c-titlelist--inline' c-titleList merge=true}}
                </div>
          </div>
        {{/if}}
    </div>  
  {{/if}}

</div>
