<div class="c-liveTicker {{class}}" id="js-liveTicker">
  <div class="c-liveTicker_formatImg">
      <div class="c-liveTicker_imgWrap">
          <picture class="c-liveTicker_img">
            <source srcset="../../images/dev/liveticker_header.jpg" media="(min-width: 26em)">
            <img src="../../images/dev/liveticker_header.jpg" alt="">
          </picture>
      </div>
  </div>
  <div class="c-liveTicker_imgCaption">{{photoCaption}}</div>
  <div class="c-liveTicker_content" data-sticky_parent>
    <div class="row">
      <div class="col-md-4">
        <div class="c-liveTicker_overviewBox" data-sticky_column>
          <div class="c-liveTicker_overview_sectionWrap"><span class="c-liveTicker_overview_section">{{milestoneTitle}}</span></div>
          {{#each nTimeline}}
            {{#ifCond @index '<=' '3'}}
              {{#if milestone}}
                <div class="c-liveTicker_overview">
                  <div class="c-liveTicker_overview_time">
                    {{render '@c-icon' ../c-iconClock-overview merge=true}} <span class="c-liveTicker_overview_time_label">{{time}}</span>
                  </div>
                  <div class="c-liveTicker_overview_title"><a class="c-liveTicker_overview_link js-liveTicker_overview" href="#c-liveTicker_timeframe--{{@key}}">{{title}}</a></div>
                </div>
              {{/if}}
            {{/ifCond}}
          {{/each}}
        </div>
      </div>
      <div class="col-md-8">
        <div class="c-liveTicker_main">
          <h1 class="c-liveTicker_title">{{title}}</h1>
          <div class="c-liveTicker_subtitle">{{subtitle}}</div>
          <div class="c-liveTicker_info">
            <div class="c-liveTicker_info_bar">
              <div class="c-liveTicker_info_bar_date">
                {{date}}
              </div>
              <div class="c-liveTicker_info_bar_share">
                {{render "@c-btnshare--light" merge=true}}
              </div>
            </div>
            <div class="c-liveTicker_info_text">
              {{#each infoText}}
                <p class="c-liveTicker_paragraph">{{this}}</p>
              {{/each}}
            </div>
          </div>
          <div class="c-liveTicker_mobileFilter js-liveTicker-mobileFilter">
            <a href="javascript:void(0);" class="c-liveTicker_mobileFilter_link">
              {{milestoneTitle}}
              <div class="c-liveTicker_mobileFilter_icon">
                <div class="c-liveTicker_mobileFilter_icon_on"><svg width="21" height="20" viewBox="0 0 21 20" xmlns="http://www.w3.org/2000/svg"><rect stroke="#FFF" stroke-width="1.5" opacity=".5" x=".75" y="2.75" width="16.5" height="16.5" rx="2" fill="none" /><path d="M19.87.175C19.685.057 19.48 0 19.28 0c-.35 0-.69.172-.9.487l-8.345 12.04-3.23-3.685c-.437-.404-1.115-.377-1.52.06-.403.435-.375 1.115.06 1.517l3.882 4.43.094.106.1.112.04.025.08.08.21.098.048.024.33.057c.306 0 .596-.108.81-.34l.087-.14L20.18 1.66c.325-.493.185-1.16-.31-1.485z" fill-rule="nonzero" fill="#FFF"/></svg></div>
                <div class="c-liveTicker_mobileFilter_icon_off"><svg width="21" height="20" viewBox="0 0 21 20" xmlns="http://www.w3.org/2000/svg"><rect stroke="#FFF" stroke-width="1.5" opacity=".5" x=".75" y="2.75" width="16.5" height="16.5" rx="2" fill="none" /></svg></div>
              </div>
            </a>
          </div>
          <div class="c-liveTicker_timeline js-liveTicker-timeline">
            {{#each nTimeline}}
              <div class="c-liveTicker_timeframe {{#if milestone}}c-liveTicker_timeframe--milestone{{/if}}" id="c-liveTicker_timeframe--{{@key}}">
                <div class="c-liveTicker_timeframe_time">
                  {{render '@c-icon' ../c-iconClock-timeframe merge=true}} <span class="c-liveTicker_timeframe_time_label">{{time}}</span>
                </div>
                <div class="c-liveTicker_timeframe_title">{{title}}</div>
                <div class="c-liveTicker_timeframe_content">
                  {{#ifCond type '==' 'text'}}
                    {{#each content}}
                      <p class="c-liveTicker_timeframe_paragraph">{{this}}</p>
                    {{/each}}
                  {{/ifCond}}
                  {{#ifCond type '==' 'image'}}
                    <div class="c-liveTicker_timeframe_content_image">
                      <img src="{{content.url}}" alt="{{content.caption}}">
                      <div class="c-liveTicker_timeframe_content_image_caption">{{content.caption}}</div>
                    </div>
                  {{/ifCond}}
                  {{#ifCond type '==' 'teaser'}}
                    {{render '@c-teasersmall--light' content merge=true}}
                  {{/ifCond}}
                  {{#ifCond type '==' 'embed'}}
                    <div class="c-liveTicker_timeframe_content_embed {{#if embed_type}}c-liveTicker_timeframe_content_embed--{{embed_type}}{{/if}}">
                      {{! TODO set custom parameters if needed, like src for embed iframes }}
                      {{{content}}}
                    </div>
                  {{/ifCond}}
                </div>
              </div>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
