<div class="c-listLink {{class}}">
	{{#if title}}<span class="c-listLink_title">{{title}}</span>{{/if}}

	{{#if player-audio}}
		<div class="c-listLink_playerAudio">
			{{render '@c-playeraudio' c-playerAudio merge=true}}
		</div>
	{{/if}}

	<ul class="c-listLink_list">
		{{#each items}}
			<li class="c-listLink_item">
				<a href="#" class="c-listLink_itemWrapper">
					{{#if c-iconItem}}
						<div class="c-listLink_itemIcon">
							{{render '@c-icon' c-iconItem merge=true}}
						</div>
					{{/if}}

					<div class="c-listLink_itemLabel">
						<span class="c-listLink_itemText">
							{{item-label}}
						</span>
					</div>
				</a>		
			</li>
		{{/each}}
	</ul>
</div>