<div class="c-liveMark {{class}}">
  {{#if href}}
    <a href="#">
      <div class="c-liveMark_label">
        {{render '@c-label' c-label merge=true}}
      </div>
      <div class="c-liveMark_play">
        {{render '@c-playicon' c-playIcon merge=true}}
      </div>
    </a>
  {{else}}
    <div class="c-liveMark_label">
      {{render '@c-label' c-label merge=true}}
    </div>
    <div class="c-liveMark_play">
      {{render '@c-playicon' c-playIcon merge=true}}
    </div>
  {{/if}}
</div>