<div class="c-filteredListWithText {{class}} {{class-layout}}">
    <div class="c-filteredListWithText_bigWrapper">

        <div class="c-filteredListWithText_Wrapper-text">
          {{#if description}}
            <div class="c-filteredListWithText_Wrapper-description">
              <span>Hai cercato <strong>Giardino</strong> sono presenti <strong>25 risultati</strong></span>
            </div>
          {{/if}}
          
          {{#if title}}
            <div class="c-filteredListWithText_Wrapper-title">
                {{render '@c-sectiontitle' c-sectionTitle}}
            </div>
          {{/if}}                
        </div>

        <div class="c-filteredListWithText_Wrapper-filter js-filteredListWithText">

          <button class="c-filteredListWithText_btn js-filteredListWithText_btn">
            <span class="c-filteredListWithText_title js-filteredListWithText_title">
              {{labelDefault}}
            </span>
            {{render '@c-icon' c-iconFilter}}
          </button>

          <div class="c-filteredListWithText_listWrap js-filteredListWithText_listWrap">
            <ul class="c-filteredListWithText_list c-filteredListWithText_list-show js-filteredListWithText_list">

              <li class="c-filteredListWithText_listItem js-filteredListWithText_listItem is-active">{{labelDefault}}<span class="c-filteredListWithText_listItem_Checkmark">{{render '@c-icon' c-iconCheckmark}}</span></li>
              <li class="c-filteredListWithText_listItem js-filteredListWithText_listItem is-active">{{labelDefault}}<span class="c-filteredListWithText_listItem_Checkmark">{{render '@c-icon' c-iconCheckmark}}</span></li>
              <li class="c-filteredListWithText_listItem js-filteredListWithText_listItem is-active">{{labelDefault}}<span class="c-filteredListWithText_listItem_Checkmark">{{render '@c-icon' c-iconCheckmark}}</span></li>
              <li class="c-filteredListWithText_listItem js-filteredListWithText_listItem is-active">{{labelDefault}}<span class="c-filteredListWithText_listItem_Checkmark">{{render '@c-icon' c-iconCheckmark}}</span></li>
            </ul>
          </div>

        </div>

    </div>
</div>