<section class="section {{class}} {{class-layout}}">
	<div class="container u-pull-btm-1">
		{{render '@c-sectiontitle' c-sectionTitle merge=true}}
	</div>
  
	<div class="section {{internal-section}}">
		{{#if c-carouselHeroSquare}}{{render '@c-carousel--herosquare' c-carouselHeroSquare merge=true}}{{/if}}
		{{#if c-carouselHeroSquareLight}}{{render '@c-carousel--herosquarelight' c-carouselHeroSquareLight merge=true}}{{/if}}
	</div>
</section>