<div class="c-moreBtn {{class}}">
  {{#if href}}
  	<a href="{{href}}" class="c-moreBtn_link">
  {{else}}
	 <span class="c-moreBtn_link">
  {{/if}}

    <span class="c-moreBtn_label">
      {{label}}
    </span>

  {{#if href}}
  	</a>
  {{else}}
  	</span>
  {{/if}}
</div>