<div class="c-liveTickerAlert {{class}}">
	<div class="c-liveTickerAlert_head">
		{{render '@c-sectiontitle--live' c-sectionTitle merge=true}}
	</div>

	<div class="c-liveTickerAlert_content">
		<h3>
			<a href="#" class="c-liveTickerAlert_link">{{title}}</a>
			<span class="c-liveTickerAlert_time">
				{{render '@c-icon' c-iconClock merge=true}}
				{{time}}
			</span>
		</h3>
	</div>
</div>
