<div class="c-teaserListVert row {{class}}">
  {{#if componentTitleShow}}
    <div class="c-teaserListVert_title col-md-12">
      {{render '@c-sectiontitle' c-sectionTitle merge=true}}
    </div>
  {{/if}}

  <ul class="c-teaserListVert_list {{list-class}}">
      {{#each teasers}}
        <li class="c-teaserListVert_item {{#if notOnlyList}}col-sm-6{{/if}} col-md-12">
          <div class="c-teaserListVert_itemInner">
            {{#if counterShow}}
              <div class="c-teaserListVert_nItem"><span class="c-teaserListVert_nItemText">{{@index}}</span></div>
            {{/if}}

            {{render '@c-teasersmall' c-teaserSmall merge=true}}
          </div>
        </li>
      {{/each}}
  </ul>
  <div class="col-md-12">
    {{#if showMoreBtn}}
        {{render '@c-morebtn--light' c-moreBtn-light merge=true}}
    {{/if}}
  </div>
</div>