<div class="c-carousel js-carousel {{class}} {{class-layout}}">
	<div class="c-carousel_itemsWrap">
		<div class="c-carousel_items js-carousel_items" data-slick='{{data-slick}}'>
			{{#each items}}
				<div class="c-carousel_item js-carousel_item">
					<div class="c-carousel_itemWrap">
						{{#if c-heroImg-gallery}}{{render '@c-heroimg--gallery' c-heroImg-gallery merge=true}}{{/if}}
						{{#if c-heroImg-poster}}{{render '@c-heroimg--hero-img-poster' c-heroImg-poster merge=true}}{{/if}}
						{{#if c-heroImg-videoSquare}}{{render '@c-heroimg--video' c-heroImg-videoSquare}}{{/if}}
						{{#if c-teaserSmall}}{{render '@c-teasersmall--light' c-teaserSmalLight merge=true}}{{/if}}
						{{#if c-moreBtn}}{{render '@c-morebtn' c-moreBtn merge=true}}{{/if}}
					</div>
				</div>
			{{/each}}			
		</div>

		<div class="c-carousel_gradientCover c-carousel_gradientCover-left js-carousel_gradientCover-left"></div>
  		<div class="c-carousel_gradientCover c-carousel_gradientCover-right js-carousel_gradientCover-right"></div>
	</div>
</div>


