<section class="section">
  <div class="container">
  {{#if sectionTitleShow}}
      {{render '@c-sectiontitle' c-sectionTitle merge=true}}
  {{/if}}

    <div class="row">
        {{#each teasers}}
          <div class="col-md-3 col-lg-3 u-push-btm">
            {{#if @first}}
              {{render '@c-teaser' c-teaser merge=true}}
            {{else}}
              {{render '@c-teaserhorzvert' c-teaser merge=true}}
            {{/if}}
          </div>
        {{/each}}
    </div>

    {{render '@c-morebtn'}}
  </div>
</section>