<section class="section {{class}} {{class-layout}}">
  {{#if c-sectionTitleExternal}}
    <div class="container u-pull-btm-1">
        {{render '@c-sectiontitle' c-sectionTitleExternal merge=true}}
    </div>
  {{/if}}

  {{#if c-sectionTitleExternal}}
    <div class="section section-border section-dark">
  {{/if}}

    <div class="container {{class-container}}">
      {{#if c-sectionTitle}}
        {{render '@c-sectiontitle' c-sectionTitle merge=true}}
      {{/if}}

      <div class="row {{teasersGridClear}}">
        {{#each teasers}}
          {{#if c-teaser}}
            <div class="{{teasersGrid}} u-push-btm {{#ifMultiple @index 3}}u-push-btm-none@sm {{/ifMultiple}}{{#ifMultiple @index 4}}u-push-btm-none {{/ifMultiple}}u-push-btm-none@md">
            {{render '@c-teaser' c-teaser merge=true}}
            </div>
          {{/if}}
        {{/each}}
      </div>
      
      {{#if c-moreBtn}}
        {{render '@c-morebtn' c-moreBtn merge=true}}
      {{/if}}
    </div>

  {{#if c-sectionTitleExternal}}
    </div>
  {{/if}}
</section>