<a class="c-btnShare {{class}} js-popup-share" data-share-title="{{shareTitle}}" data-share-url="{{shareUrl}}" href="#">
	{{render '@c-icon' c-iconShare merge=true}}

	{{#if labelShow}}
	  <span class="c-btnShare_label">
		{{label}}
	  </span>
	{{/if}}
</a>