<div class="c-teaserSmall {{class}}">
    {{#if topTitle}}
      <h2 class="c-teaserSmall_title">
        <a href="{{href}}" class="c-teaserSmall_titleLink {{classTitleLink}}" {{#if modalTitle}}data-title="{{modalTitle}}"{{/if}} {{#if modalDescription}}data-description="{{modalDescription}}"{{/if}}>
          {{title}}
        </a>
      </h2>
    {{/if}}

    <div class="c-teaserSmall_img {{classImg}}">

        {{#if embedShow}}
            {{render '@c-embed' c-embed merge=true}}
        {{/if}}

        {{#if teaserImgShow}}
            {{render '@c-teaserimg' c-teaserImg merge=true}}
        {{/if}}

        {{#if showLiveMark}}
          <div class="c-teaserSmall_liveMark u-d-none u-d-blk@md">
            {{render '@c-livemark' c-liveMark-horz merge=true}}
          </div>
        {{/if}}
    </div>

    <div class="c-teaserSmall_content">
      {{#if showHeader}}
        <div class="c-teaserSmall_header">
          {{#if showLabelLft}}
            {{render '@c-label' c-label merge=true}}
          {{/if}}

          {{#if showLabelRgt}}
            {{render '@c-label' c-label-rgt merge=true}}
          {{/if}}

          {{#if descriptionShort}}
            <a href="{{href}}" class="c-teaserSmall_subLabel">
              {{description-short}}
            </a>
          {{/if}}
        </div>
      {{/if}}

    {{#if rightTitle}}
      <h2 class="c-teaserSmall_title">
        <a href="{{href}}" class="c-teaserSmall_titleLink {{classTitleLink}}" {{#if modalTitle}}data-title="{{modalTitle}}"{{/if}} {{#if modalDescription}}data-description="{{modalDescription}}"{{/if}}>
          {{title}}
        </a>
      </h2>
    {{/if}}
      
        {{#if descriptionMediumShow}}
          <p class="c-teaserSmall_desc">
            {{description-medium}}
          </p>
        {{/if}}

      {{#if secondaryInfo}}
        <div class="c-teaserSmall_secondaryInfo">
          <a href="#" class="c-teaserSmall_secondaryInfo_text">{{secondaryInfo}}</a>
        </div>
        {{else if secondaryInfoNoLink}}
        <div class="c-teaserSmall_secondaryInfo">
          <span class="c-teaserSmall_secondaryInfo_text">{{secondaryInfoNoLink}}</span>
        </div>
      {{/if}}
      
        <!-- TESTO PER ESEMPIO MODALE !-->
        <div class="c-teaserSmall_description_hidden" style="display:none;">
          TEST Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
        </div>

        {{#if showLiveMark}}
          <div class="c-teaserSmall_liveMark u-d-none@md">
            {{render '@c-livemark' c-liveMark merge=true}}
          </div>
        {{/if}}

    {{#if teaserStatus}}
      <div class="c-teaserSmall_teaserStatus">
        <span class="c-teaserSmall_teaserStatus_text">{{teaserStatus-text}} {{render '@c-icon' c-icon merge=true}} </span>
        <span class="c-teaserSmall_teaserStatus_time">{{teaserStatus-time}}</span>
      </div>
    {{/if}}

    </div>

</div>
