<div class="c-articleSkinny {{class}}">
	<article>
		<header class="c-articleSkinny_header">
			<hgroup class="c-articleSkinny_hGroup">
				<h1 class="c-articleSkinny_title">{{title}}</h1>
				{{#if subTitleShow}}
					<h2 class="c-articleSkinny_subTitle">{{sub-title}}</h2>
				{{/if}}
			</hgroup>

			<div class="c-articleSkinny_service">
				<p class="c-articleSkinny_date"><time datetime="2017-02-14T9:29:00" pubdate>Venerdì 14/02/2017 14:02</time></p>

				{{#if btnShareShow}}
					<div class="c-articleSkinny_btnShare">
						{{render '@c-btnshare--light' c-btnShare merge=true}}
					</div>
				{{/if}}
			</div>
		</header>

		<div class="c-articleSkinny_content">
			<p class="c-articleSkinny_paragraph">{{description}} {{description}}<p>
			<p class="c-articleSkinny_paragraph">{{description}} {{description}} {{description}}<p>
		</div>
	</article>
</div>