<div class="c-header js-header u-d-none@print {{class}}">
  <div class="c-header_innerWrap">
    <div class="c-header_brand js-header_brand">
      <a href="/">
        {{#if logoHeaderText}}
          <span class="c-header_brandText">{{logoHeaderText}}</span>
        {{else}}
          <img class="c-header_brandImg" src="{{imagePath logoHeader}}" alt="">
        {{/if}}
        <img class="c-header_brandImg c-header_brandImg-toMobile" src="{{imagePath logoHeaderMobile}}"/>
       
      </a>
    </div>

    <button class="c-header_toggler js-header_toggler" aria-label="Open Menu">
      <span class="c-header_togglerIcon"></span>
    </button>

    {{#if subSectionText}}
      <div class="c-header_wrapTitleSubSite js-header_wrapTitleSubSite">
        <span class="c-header_titleSubSite">{{subSectionText}}</span>
      </div>
    {{/if}}

    <ul class="c-header_meta">
      {{#each c-header-metaItems}}
        {{#if metaItemExist}}
          <li class="c-header_metaItem {{class-metaItem}}">
            {{#if isForm}}
              <button class="c-header_metaFormToggler js-header_searchToggler">
                {{render '@c-icon' c-iconMeta merge=true}}
              </button>
              <form action="#" class="c-header_metaForm js-header_searchForm">
                <label class="u-sr-only" for="Search">Search</label>
                <input class="c-header_metaInput js-header_searchInput" type="text" id="Search" placeholder="{{title}}">
              </form>
            {{else}}
              <a href="#" class="c-header_metaLink">
                {{render '@c-icon' c-iconMeta merge=true}}
                <span class="c-header_metaLabel">
                  {{{title}}}
                </span>
              </a>
            {{/if}}
          </li>
        {{/if}}
      {{/each}}
    </ul>

    {{#if socialShow}}
      <ul class="c-header_social">
        {{#each c-header-socialItems}}
          {{#if c-iconSocial}}
            <li class="c-header_socialItem">
              <a href="#">
                {{render '@c-icon' c-iconSocial merge=true}}
              </a>
            </li>
          {{/if}}
        {{/each}}
      </ul>
    {{/if}}

    {{#if appIconShow}}
      <a href="#" class="c-header_app">
        <img src="{{path-iconApp}}" class="c-header_appImg {{class-appImg}}" />

        <div class="c-header_appDescription">
          <span class="c-header_appDescLine c-header_appDescFirstLine">
            {{description-app-firstLine}}
          </span>        
          <span class="c-header_appDescLine c-header_appDescSecondLine">
            {{description-app-secondLine}}
          </span>
        </div>
      </a>
    {{/if}}

    <a href="#" class="c-header_rsiPlay u-d-none u-d-blk@md">
      {{#if slogan-play}}<span class="c-header_rsiPlaySlogan">{{slogan-play}}</span>{{/if}}
      <img class="c-header_rsiPlay_logo" src="/images/logo-play.svg" alt="">
    </a>
  </div>

  <div class="c-header_navWarp js-header_nav">
    <nav class="c-header_mainNav">
      <ul class="c-header_mainNavList">
        {{#each c-header-mainNavItems}}
          {{#if title}}
            <li class="c-header_mainNavItem{{#if link-mode}} is-open{{/if}}">
              <a class="c-header_mainNavLink{{#if link-mode}} is-{{link-mode}}{{/if}}" href="#">
                {{title}}
              </a>
              {{#if items}}
                <button class="c-header_mainNavToggler{{#if link-mode}} is-{{link-mode}} is-open{{/if}} js-header_subToggler" data-target="Menu-{{id}}">
                  {{> @c-icon icon="angle-down" class="c-header_mainNavTogglerIcon"}}
                </button>
                <ul id="Menu-{{id}}" class="c-header_mainNavSubList js-header_subList{{#if link-mode}} is-open{{/if}} {{emptyList}}">
                  {{#each items}}
                    <li class="c-header_mainNavSubItem {{mainNavSubItemClass}}">
                      <a class="c-header_mainNavSubLink is-{{link-mode}}" href="#">
                        {{#if title}}
                          {{title}}
                        {{else}}
                          &nbsp;
                        {{/if}}
                      </a>
                    </li>
                  {{/each}}
                </ul>
              {{/if}}
            </li>
          {{/if}}
        {{/each}}
        <li class="c-header_mainNavSubListPlaceholder">&nbsp;</li>
      </ul>
    </nav>

    {{#if socialToDeviceShow}}
      <ul class="c-header_socialToDevice">
        {{#each c-header-socialToDeviceItems}}
          {{#if c-iconSocial}}
            <li class="c-header_socialToDeviceItem {{class-socialToDeviceItem}}">
              <a href="#">
                {{render '@c-icon' c-iconSocial merge=true}}
                {{#if label}}<span class="c-header_socialToDeviceLabel">{{label}}<span>{{/if}}
              </a>
            </li>
          {{/if}}
        {{/each}}
      </ul>
    {{/if}}

    <nav class="c-header_secondaryNav">
      <ul class="c-header_secondaryNavList c-header_secondaryNavList-right">
        {{#each c-header-secondaryNavItems-right}}
          <li class="c-header_secondaryNavItem c-header_secondaryNavItem-right{{#if @last}} c-header_secondaryNavItem-right-last{{/if}}">
            <a class="c-header_secondaryNavLink{{#if action}} c-header_secondaryNavLink-action{{/if}} {{class}}" href="#">
              {{#if short-title}}
                <span class="u-d-inl u-d-none@md u-d-inl@lg">{{title}}</span>
                <span class="u-d-none u-d-inl@md u-d-none@lg">{{short-title}}</span>
              {{else}}
                <span>{{title}}</span>
              {{/if}} 

              {{#if play}}
                {{render '@c-playicon' c-playIcon merge=true}}
              {{/if}}

              {{#if notification}}
                <span class="c-header_live_notification">{{label}}</span>
                {{#if number}}<span class="c-header_live_notification_numberContainer">{{number}}</span>{{/if}}
              {{/if}}   
            </a>
          </li>
        {{/each}}
        <li class="c-header_secondaryNavItem c-header_secondaryNavItem-right u-d-blk u-d-none@md">
          <a href="#" class="c-header_secondaryNavLink">
            <span href="#" class="u-padd-vert-twoThirds">
              <img src="/images/logo-play.svg" alt="">
            </span>
          </a>
        </li>
<!--
        {{#each c-header-secondaryNavItems-left}}
          <li class="c-header_secondaryNavItem c-header_secondaryNavItem-left{{#if @first}} c-header_secondaryNavItem-left-first{{/if}}">
            <a class="c-header_secondaryNavLink" href="#">
              {{title}}
            </a>
          </li>
        {{/each}}
-->
      </ul>

      <ul class="c-header_secondaryNavList c-header_secondaryNavList-left">
        <li class="c-header_secondaryNavItem c-header_secondaryNavItem-left c-header_secondaryNavItem-left-first">
          <a class="c-header_secondaryNavLink" href="#">
            RSI.ch
          </a>
        </li>
        <li class="c-header_secondaryNavItem c-header_secondaryNavItem-left c-header_secondaryNavItem-moreItems">
          <span class="c-header_secondaryNavLink c-header_secondaryNavLink-moreItems js-header_secondaryNavLink-moreItems">
            {{render '@c-icon' c-moreItems merge=true}}
          </span>          
        </li>
      </ul>

      <div class="c-header_secondaryNavList_hiddenLink js-header_secondaryNavList_hiddenLink">
        <ul class="c-header_secondaryNavList c-header_secondaryNavList-left">
          {{#each c-header-secondaryNavItems-left}}
            <li class="c-header_secondaryNavItem c-header_secondaryNavItem-left{{#if @first}} c-header_secondaryNavItem-left-first{{/if}}">
              <a class="c-header_secondaryNavLink" href="#">
                {{title}}
              </a>
            </li>
          {{/each}}
        </ul>
      <div>
    </nav>
  </div>
  {{#if visualImage}}
    <div class="c-header_visual"></div>
  {{/if}}
</div>