<div class="c-embed {{class}}">
  {{#if href}}
    <a class="c-embed_link {{classEmbedLink}}" href="{{href}}" {{#if modalTitle}}data-title="{{modalTitle}}"{{/if}} {{#if modalDescription}}data-description="{{modalDescription}}"{{/if}}>
      <img class="c-embed_media-img" src="{{src}}" alt="">
      
      {{#if showPlayIcon}}
        {{render '@c-playicon' c-playIcon merge=true}}
      {{/if}}
    </a>
  {{else}}
    <img class="c-embed_media-img" src="{{src}}" alt="">
  {{/if}}

  {{#if showiFrame}}
  	<iframe src="{{src}}" frameborder="0"></iframe>
  {{/if}}
</div>