<section class="section">
  <div class="container" id="js-azSearch">
  	<div class="row u-push-btm u-push-btm-triple@md"> 
  		<div class="col-md-7"> 
	    	{{render '@c-titlepage' c-titlepage}}
	    </div>
  		<div class="col-md-5"> 
	    	{{render '@c-buttontabs' c-buttonTabs merge=true}}
	    </div>
    </div>
  	<div class="row u-push-btm u-push-btm-double@md"> 
  		<div class="col-md-12"> 
	    	{{render '@c-filteraz'}}
	    </div>
    </div>    
  	<div class="row"> 
		<div class="col-md-7 u-push-btm-half">
			{{render '@c-fieldsearch'}}
		</div>
		<div class="col-md-5 u-push-btm-half">
			{{render '@c-filtertopic'}}
		</div>
	</div>
  </div>
</section>
